.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-image-1 {
  width: 280px;
  height: 718px;
  margin: -1185px auto 0 -542px;
}

.u-section-1 .u-shape-1 {
  width: 731px;
  height: 443px;
  margin: 567px 0 0 auto;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-size: 1.125rem;
  margin: -161px 664px 0 59px;
}

.u-section-1 .u-image-2 {
  width: 611px;
  height: 418px;
  filter: brightness(0.65);
  margin: -285px 0 0 auto;
}

.u-section-1 .u-image-3 {
  width: 280px;
  height: 624px;
  object-position: 100% 50%;
  margin: -534px -280px 0 auto;
}

.u-section-1 .u-image-4 {
  height: 39px;
  margin-top: -49px;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  width: 280px;
  height: 624px;
  object-position: 100% 50%;
  margin: -614px auto 0 -280px;
}

.u-section-1 .u-image-6 {
  width: 693px;
  height: 286px;
  animation-duration: 1000ms;
  margin: -481px auto 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 523px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 303px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 123px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 369px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -485px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 223px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 232px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -348px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 140px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 626px;
}

.u-section-2 .u-shape-1 {
  height: 493px;
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 369px;
  height: 554px;
  margin: -523px auto 0;
}

.u-section-2 .u-shape-2 {
  width: 366px;
  height: 503px;
  background-image: none;
  margin: -503px auto 0 51px;
}

.u-section-2 .u-image-2 {
  width: 333px;
  height: 474px;
  animation-duration: 1000ms;
  margin: -489px auto 0 67px;
}

.u-section-2 .u-group-1 {
  width: 474px;
  min-height: 397px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -461px 36px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 22px 30px;
}

.u-section-2 .u-text-1 {
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 0 244px 0 8px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-family: "Barlow Condensed";
  letter-spacing: 0px;
  margin: 16px 16px 0 0;
}

.u-section-2 .u-image-3 {
  width: 280px;
  height: 624px;
  object-position: 100% 0%;
  margin: -512px -280px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 280px;
  height: 624px;
  object-position: 100% 50%;
  margin: -624px auto -112px -280px;
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 510px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
    margin-top: -459px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 7px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 118px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 597px;
}

.u-section-3 .u-image-1 {
  width: 996px;
  height: 512px;
  animation-duration: 1000ms;
  margin: 56px auto 0;
}

.u-section-3 .u-group-1 {
  width: 418px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  min-height: 415px;
  animation-duration: 1000ms;
  margin: -463px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-family: "Barlow Condensed";
  margin: 48px auto 0;
}

.u-section-3 .u-text-3 {
  font-family: "Barlow Condensed";
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-3 .u-text-4 {
  font-family: "Barlow Condensed";
  margin: 41px auto 0;
}

.u-section-3 .u-text-5 {
  font-family: "Barlow Condensed";
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 280px;
  height: 624px;
  object-position: 100% 0%;
  margin: -520px -280px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 280px;
  height: 624px;
  object-position: 100% 50%;
  margin: -624px auto 0 -280px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-image-1 {
    width: 940px;
    height: 483px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -434px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 370px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -321px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 278px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -229px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 175px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -126px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 632px;
}

.u-section-4 .u-shape-1 {
  height: 632px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  animation-duration: 1000ms;
  width: 187px;
  margin: -600px auto 0;
}

.u-section-4 .u-image-1 {
  width: 500px;
  height: 373px;
  filter: brightness(0.65);
  margin: -8px auto 0 0;
}

.u-section-4 .u-image-2 {
  width: 500px;
  height: 373px;
  animation-duration: 1000ms;
  filter: brightness(0.65);
  margin: -199px 0 0 auto;
}

.u-section-4 .u-image-3 {
  width: 280px;
  height: 634px;
  object-position: 100% 0%;
  margin: -624px -280px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 280px;
  height: 632px;
  object-position: 100% 50%;
  margin: -633px auto 0 -280px;
}

.u-section-4 .u-blog-1 {
  width: 825px;
  margin: -474px 138px 142px auto;
}

.u-section-4 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 332px;
}

.u-section-4 .u-image-5 {
  background-image: url("images/ScreenShot2021-09-16at12.58.20PM.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 20px 30px 25px;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-4 .u-image-6 {
  background-image: url("images/ScreenShot2021-09-16at12.58.57PM.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px 30px 25px;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-4 .u-image-7 {
  background-image: url("images/ScreenShot2021-09-16at2.13.49PM.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 20px 30px 25px;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-4 .u-image-8 {
  background-image: url("images/ScreenShot2021-09-16at1.30.06PM.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 20px 30px 25px;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
  margin: 35px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  margin: 17px 0 0;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-blog-1 {
    min-height: 375px;
    margin-right: 115px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-blog-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-blog-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 254px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 254px;
    margin-top: -80px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -505px;
  }

  .u-section-4 .u-blog-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 615px;
}

.u-section-5 .u-image-1 {
  width: 884px;
  height: 618px;
  margin: 2px auto 0;
}

.u-section-5 .u-image-2 {
  width: 280px;
  height: 624px;
  object-position: 100% 6.38%;
  margin: -620px -280px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 140px;
  height: 73px;
  animation-duration: 1000ms;
  margin: -105px 32px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 280px;
  height: 624px;
  object-position: 100% 44.68%;
  margin: -593px auto 0 -280px;
}

.u-section-5 .u-text-1 {
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  animation-duration: 1000ms;
  width: 187px;
  margin: -568px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 8px 663px 0 121px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 16px 595px 0 121px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: -3px 18px 0 645px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: -78px 642px 0 143px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 600;
  animation-duration: 1000ms;
  margin: -297px 45px 0 620px;
}

.u-section-5 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 108px 642px 60px 143px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 563px;
    margin-left: 21px;
  }

  .u-section-5 .u-text-3 {
    width: 355px;
    margin-left: 21px;
    margin-right: 495px;
  }

  .u-section-5 .u-text-4 {
    width: 355px;
    margin-left: 463px;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: 355px;
    margin-left: 43px;
    margin-right: 542px;
  }

  .u-section-5 .u-text-6 {
    width: 355px;
    margin-left: 465px;
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 542px;
    margin-left: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 503px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -505px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 364px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 296px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 243px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 365px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 245px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 365px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 377px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -379px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 184px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 116px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 63px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 185px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 65px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 237px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -239px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 611px;
}

.u-section-6 .u-line-1 {
  height: 455px;
  transform-origin: center top 0px;
  left: auto;
  top: 110px;
  position: absolute;
  width: 12px;
  right: 163px;
}

.u-section-6 .u-line-2 {
  height: 453px;
  transform-origin: center top 0px;
  left: 245px;
  top: 110px;
  position: absolute;
  width: 12px;
}

.u-section-6 .u-image-1 {
  width: 280px;
  object-position: 100% 50%;
  left: -280px;
  right: auto;
}

.u-section-6 .u-shape-1 {
  width: 747px;
  height: 443px;
  margin: 58px auto 0 151px;
}

.u-section-6 .u-line-3 {
  width: 342px;
  height: 12px;
  transform-origin: right center 0px;
  margin: -403px 163px 0 auto;
}

.u-section-6 .u-text-1 {
  font-family: "Barlow Condensed";
  letter-spacing: 2px;
  margin: -32px 518px 0 427px;
}

.u-section-6 .u-image-2 {
  width: 190px;
  height: 259px;
  animation-duration: 1000ms;
  margin: 41px auto 0 80px;
}

.u-section-6 .u-rotation-parent-1 {
  width: 190px;
  height: 258px;
  margin: -258px 329px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 258px;
  height: 190px;
  animation-duration: 1000ms;
}

.u-section-6 .u-image-4 {
  width: 190px;
  height: 260px;
  animation-duration: 1000ms;
  margin: -261px auto 0 350px;
}

.u-section-6 .u-image-5 {
  width: 190px;
  height: 257px;
  animation-duration: 1000ms;
  margin: -257px 59px 0 auto;
}

.u-section-6 .u-group-1 {
  width: 190px;
  min-height: 40px;
  margin: -54px auto 0 350px;
}

.u-section-6 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-6 .u-text-2 {
  font-family: "Barlow Condensed";
  font-size: 2.25rem;
  letter-spacing: -1px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 78px 0 13px;
}

.u-section-6 .u-text-3 {
  font-family: "Barlow Condensed";
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -46px auto 0 509px;
}

.u-section-6 .u-group-2 {
  width: 193px;
  min-height: 40px;
  margin: -72px 328px 0 auto;
}

.u-section-6 .u-text-4 {
  font-family: "Barlow Condensed";
  font-size: 2.25rem;
  letter-spacing: -1px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto 0 5px;
}

.u-section-6 .u-text-5 {
  font-family: "Barlow Condensed";
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -47px 293px 0 auto;
}

.u-section-6 .u-group-3 {
  width: 190px;
  min-height: 39px;
  margin: -74px 59px 0 auto;
}

.u-section-6 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-6 .u-text-6 {
  font-family: "Barlow Condensed";
  font-size: 2.25rem;
  letter-spacing: -1px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -5px auto 0 5px;
}

.u-section-6 .u-text-7 {
  font-family: "Barlow Condensed";
  font-size: 4.5rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.55);
  margin: -44px 20px 0 auto;
}

.u-section-6 .u-group-4 {
  width: 190px;
  min-height: 39px;
  margin: -74px auto 0 80px;
}

.u-section-6 .u-container-layout-4 {
  padding: 0;
}

.u-section-6 .u-text-8 {
  font-family: "Barlow Condensed";
  font-size: 2.25rem;
  letter-spacing: -1px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto 0 13px;
}

.u-section-6 .u-text-9 {
  font-size: 4.5rem;
  font-family: "Barlow Semi Condensed";
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -44px 848px 0 234px;
}

.u-section-6 .u-line-4 {
  width: 169px;
  height: 12px;
  transform-origin: right center 0px;
  margin: -350px auto 0 245px;
}

.u-section-6 .u-line-5 {
  width: 732px;
  height: 12px;
  transform-origin: left center 0px;
  margin: 443px 163px 0 auto;
}

.u-section-6 .u-image-6 {
  width: 280px;
  height: 606px;
  object-position: 100% 0%;
  margin: -560px -280px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 418px;
    margin-left: 327px;
  }

  .u-section-6 .u-text-2 {
    width: 79px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 420px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 748px;
    margin-left: 134px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 308px;
    margin-left: 217px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 322px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 224px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 638px;
    margin-left: 24px;
  }

  .u-section-6 .u-line-5 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    width: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 218px;
    margin-left: 127px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 242px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 168px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 482px;
    margin-left: 0;
  }

  .u-section-6 .u-line-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    width: 340px;
  }

  .u-section-6 .u-line-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 118px;
    margin-left: 27px;
  }

  .u-section-6 .u-rotation-parent-1 {
    margin-right: 150px;
  }

  .u-section-6 .u-image-4 {
    margin-left: 150px;
  }

  .u-section-6 .u-group-1 {
    margin-left: 150px;
  }

  .u-section-6 .u-text-3 {
    font-size: 2.25rem;
    margin-left: 152px;
  }

  .u-section-6 .u-group-2 {
    margin-right: 147px;
  }

  .u-section-6 .u-text-5 {
    font-size: 2.25rem;
    margin-right: 106px;
  }

  .u-section-6 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-9 {
    font-size: 2.25rem;
    margin-right: 282px;
  }

  .u-section-6 .u-line-4 {
    margin-left: 171px;
  }

  .u-section-6 .u-line-5 {
    width: 340px;
  }
}